body {
    background-color: blueviolet;
}

h1 {
    color: red;
    background-color: blue;
    font-size: 100px;
}

h3 {
    color: yellow;
    background-color: black;
}

p {
    color: tomato;
    background-color: aqua;
    font-size: small;
}